@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=IBM+Plex+Mono:wght@300;400;500;600&display=swap');

:root {
    --pst-color-secondary: #5E81AC; /* nord blue */
    
    --sd-color-secondary: #e83e8c;
}

body {
    font-family: 'Open Sans', sans-serif;
}

pre, code {
    font-family: 'SFMono-Regular', 'Menlo', 'IBM Plex Mono', monospace;
    font-size: 90%;
    line-height: 150%;
    --pst-color-inline-code-links: #5E81AC; /* nord blue */
    --pst-color-inline-code: #e83e8c;
}

code.literal {
    background-color: transparent;
    border: 0px;
    padding: 0;
    font-size: 94%;
}

a:hover code{
    color: #ee9040;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.sig-name {
    --pst-color-inline-code: #5E81AC;
}

pre {
    background-color: #f8f8f8;
    border: 0px;
    box-shadow: none;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}
h1 {
    color: #2E3440; /* nord black */
}
  
  
h2 {
    color: #5E81AC; /* nord blue */
    letter-spacing: -.03em;
}
  
h3 {
    color: #2E3440; /* nord black */
    letter-spacing: -.03em;
}
 
img {
    margin-bottom: 1.125rem;
}

.navbar-brand img {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

a.hederlink {
    color: #5E81AC
}

a.hederlink {
    color: #5E81AC
}

a.hederlink:hover {
    color: #ee9040
}

:target:before{
    content:"";
    display:block;
    background-color: #fff;
    width:100%;
    height:80px; 
    margin:-80px 0 0; 
} 

.bd-header {
    --pst-color-primary: #5E81AC;
    --pst-color-link-hover: #5E81AC;
}

.bd-header .navbar-nav li a.nav-link:hover {
    text-decoration: none;
}

.bd-header .navbar-nav>.current>.nav-link {
    border-bottom: 0px;
}

.bd-sidebar {
    --pst-color-primary: #5E81AC;
    --pst-color-link-hover: #5E81AC;
}

/*.bd-sidebar a:hover {
    text-decoration: none;
}*/

nav.bd-links li>a:hover {
    text-decoration: none;
}

/* remove left vertical bar on active link on left sidebar */
nav.bd-links .current>a {
    box-shadow: none;
}

.bd-content {
    --pst-color-link: #5E81AC;
    --pst-color-link-hover: #ee9040;
}

.toc-entry a.nav-link:hover {
    text-decoration: none;
    color: #5E81AC;
}

#pst-back-to-top {
    background-color: #2E3440;
}

.form-control:focus {
    outline: 2px solid var(--bs-border-color);
}
